@import"./global.scss";

.container--select-continents{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.select-continents{
    width: 40%;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background-color: transparent;    
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    border-bottom: 2px solid;
    outline: none;

    &::-ms-expand {
        display: none;
      }
    
}
.qtd-continents{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}